:root{
    --main_light_color: #fff;
    --main_deep_color: #000;
    --blocks_color: #020e76; 

    --height: 205px;
}
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #fff;
}

.header-info {
    display: block;
    margin: 0 15px;
}

.header-button {
    text-align: left;
}

.instructionBtn {
    width: 140px!important;
}

.bg1{
    background-color: var(--main_light_color);
}

.bg2{
    background-color: var(--main_deep_color);
}

.text-color1{
    color: var(--main_light_color);
}

.text-color2{
    color: var(--main_deep_color);
}

canvas{
    width: 100%!important;
    height: 100%!important;
    max-height: 700px;
    margin: 0;
    padding: 0;
    display: block;
}

.btn{
    width: 100%;
    max-width: 200px!important;
}